body {
  font-family: sans-serif;
}

#form-container {
border: solid 1px red;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
#description-container {
display: grid;
grid-template-columns: 1fr 1fr;
}
#button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;  
  padding-top: 20px;
  }
 #update-container{
  display: grid;
  padding-top: 60px;
  margin-left: 10px;
 } 

